body {
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size:14px;
	-moz-transition-property: text-shadow;
	-moz-transition-duration: 4s;
	-webkit-transition-property: text-shadow;
	-webkit-transition-duration: 4s;
	text-shadow: none;
}

body.blurry {
	-moz-transition-property: text-shadow;
	-moz-transition-duration: 4s;
	-webkit-transition-property: text-shadow;
	-webkit-transition-duration: 4s;
	text-shadow: #fff 0px 0px 25px;
}

a {
	color: #55aaff;
}

.controlButton {
	background: #73A53E;
	border: 1px solid #2d6898;
	border-radius: 5px;
	color: #FFF;
	display: inline-block;
	margin: 1%;
	min-width: 5%;
	padding: 0.5%;
	text-align: center;
	font-family: serif;
	font-weight: bold;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 5px 0px #336600;
     -moz-box-shadow: 0px 5px 0px #336600;
     box-shadow: 0px 5px 0px #336600;
}

.controlButton:active{
    -webkit-box-shadow: 0px 1px 0px #336600;
    -moz-box-shadow: 0px 1px 0px #336600;
    box-shadow: 0px 1px 0px #336600;
    position:relative;
    top:3px;
}

.textColumn, .linksColumn {
	padding: 2em;
}
.textColumn {
	position: absolute;
	top: 0px;
	right: 50%;
	bottom: 0px;
	left: 0px;
	
	text-align: right;
	padding-top: 11em;
	background-color: #73A53E;
	
}

.textColumn p {
	width: 75%;
	float:right;
}

.linksColumn {
	position: absolute;
	top:0px;
	right: 0px;
	bottom: 0px;
	left: 50%;
	
	background-color: #33342D;
}

h1 {
	color: #33342D;
	font-size: 500%;
	font-weight: normal;
	margin-bottom: 0em;
}
h2 {
	font-size: 200%;
	font-weight: normal;
	margin-bottom: 1%;
}

ul {
	padding-left: 1em;
	margin: 0px;
}

li {
	margin: 1em 0em;
}